In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("data/train.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1658099 entries, 0 to 1658098
Data columns (total 18 columns):
TID                   1658099 non-null object
vendor_id             1658099 non-null object
new_user              1658080 non-null object
tolls_amount          1658099 non-null float64
tip_amount            1492903 non-null float64
mta_tax               1658099 non-null float64
pickup_datetime       1658099 non-null object
dropoff_datetime      1658099 non-null object
passenger_count       1658099 non-null int64
pickup_longitude      1608290 non-null float64
pickup_latitude       1624998 non-null float64
rate_code             1658099 non-null int64
store_and_fwd_flag    1009977 non-null object
dropoff_longitude     1653112 non-null float64
dropoff_latitude      1649937 non-null float64
payment_type          1658099 non-null object
surcharge             1558926 non-null float64
fare_amount           1658099 non-null float64
dtypes: float64(9), int64(2), object(7)
memory usage: 227.7+ MB

In [5]:
df = df.fillna('0')

In [5]:
df['new_user'].unique()

array(['NO', 'YES', '0'], dtype=object)

In [6]:
df.store_and_fwd_flag.unique()

array(['N', '0', 'Y'], dtype=object)

In [6]:
df  = df[df.fare_amount<600]

In [7]:
from sklearn.preprocessing import LabelEncoder

columnsToEncode = ['vendor_id','new_user','store_and_fwd_flag','payment_type']
le = {}
for col in columnsToEncode:
    print('Encoding....: ', col)
    le[col] = LabelEncoder()
    df[col] = le[col].fit_transform(df[col])
    le[col].classes_ = np.append(le[col].classes_, 'other')
    print('Encoded: ', col)

Encoding....:  vendor_id
Encoded:  vendor_id
Encoding....:  new_user
Encoded:  new_user
Encoding....:  store_and_fwd_flag
Encoded:  store_and_fwd_flag
Encoding....:  payment_type
Encoded:  payment_type

In [8]:
from math import cos, asin, sqrt
co_ordinates = ['pickup_latitude','pickup_longitude', 'dropoff_latitude','dropoff_longitude']

def distance(d):
    lat1, lon1, lat2, lon2 = d['pickup_latitude'],d['pickup_longitude'],d['dropoff_latitude'],d['dropoff_longitude']
    p = 0.017453292519943295     #Pi/180
    a = 0.5 - cos((lat2 - lat1) * p)/2 + cos(lat1 * p) * cos(lat2 * p) * (1 - cos((lon2 - lon1) * p)) / 2
    return 12742 * asin(sqrt(a)) #2*R*asin...

df['spatial_distance'] =df[co_ordinates].astype(float).apply(distance, axis=1)

df = df[df.spatial_distance < 15]

In [9]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'],format= '%Y-%m-%d %H:%M:%S')
df['dropoff_datetime'] = pd.to_datetime(df['dropoff_datetime'],format= '%Y-%m-%d %H:%M:%S')


def time_diff(row):
    return (row.dropoff_datetime - row.pickup_datetime).total_seconds()

df['travel_time'] = df[['dropoff_datetime','pickup_datetime']].apply(time_diff,axis=1)


'''
df['pickup_day'] = df['pickup_datetime'].dt.day
df['pickup_month'] = df['pickup_datetime'].dt.month
df['pickup_year'] = df['pickup_datetime'].dt.year
df['pickup_hour'] = df['pickup_datetime'].dt.hour
df['pickup_minute'] = df['pickup_datetime'].dt.minute
df['pickup_second'] = df['pickup_datetime'].dt.second
df['dropoff_day'] = df['dropoff_datetime'].dt.day
df['dropoff_month'] = df['dropoff_datetime'].dt.month
df['dropoff_year'] = df['dropoff_datetime'].dt.year
df['dropoff_hour'] = df['dropoff_datetime'].dt.hour
df['dropoff_minute'] = df['dropoff_datetime'].dt.minute
df['dropoff_second'] = df['dropoff_datetime'].dt.second

date_columns= ['pickup_hour' ,'pickup_minute','pickup_second','dropoff_day','dropoff_second','dropoff_minute','dropoff_hour','dropoff_year','dropoff_month'
           , 'pickup_day' ,'pickup_month','pickup_year']
'''

"\ndf['pickup_day'] = df['pickup_datetime'].dt.day\ndf['pickup_month'] = df['pickup_datetime'].dt.month\ndf['pickup_year'] = df['pickup_datetime'].dt.year\ndf['pickup_hour'] = df['pickup_datetime'].dt.hour\ndf['pickup_minute'] = df['pickup_datetime'].dt.minute\ndf['pickup_second'] = df['pickup_datetime'].dt.second\ndf['dropoff_day'] = df['dropoff_datetime'].dt.day\ndf['dropoff_month'] = df['dropoff_datetime'].dt.month\ndf['dropoff_year'] = df['dropoff_datetime'].dt.year\ndf['dropoff_hour'] = df['dropoff_datetime'].dt.hour\ndf['dropoff_minute'] = df['dropoff_datetime'].dt.minute\ndf['dropoff_second'] = df['dropoff_datetime'].dt.second\n\ndate_columns= ['pickup_hour' ,'pickup_minute','pickup_second','dropoff_day','dropoff_second','dropoff_minute','dropoff_hour','dropoff_year','dropoff_month'\n           , 'pickup_day' ,'pickup_month','pickup_year']\n"

In [14]:
from sklearn import preprocessing


df= (df[df.travel_time < 20000])

x = df.travel_time #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df['travel_time_norm'] = pd.DataFrame(x_scaled)

/home/saggarwal/miniconda3/lib/python3.5/site-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/home/saggarwal/miniconda3/lib/python3.5/site-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [10]:
features = ['travel_time','vendor_id','new_user','tolls_amount','tip_amount','mta_tax','passenger_count','pickup_longitude','spatial_distance',
           'pickup_latitude','rate_code','store_and_fwd_flag','dropoff_longitude','dropoff_latitude','payment_type','surcharge']
df = df[df.spatial_distance < 15]
X = df[features]
y = df['fare_amount']

In [21]:
#df.select_dtypes(include=[np.number]).isnull().sum()

df[df.travel_time_norm.isnull()]

,TID,vendor_id,new_user,tolls_amount,tip_amount,mta_tax,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,...,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,surcharge,fare_amount,spatial_distance,travel_time,travel_time_norm
1517851,AIX0001862852,3,1,0.00,2.8,0.5,2016-03-14 18:55:54,2016-03-14 19:19:00,2,-73.9735,...,1,1,-73.9158,40.7797,0,0,22.60,5.462550,1386.0,NaN
1517852,AIX0001862853,3,1,0.00,0,0.5,2016-03-16 22:03:56,2016-03-16 22:04:53,1,-73.7819,...,1,1,-73.7804,40.6453,1,0.5,3.80,0.142128,57.0,NaN
1517853,AIX0001862854,3,1,0.00,0,0.5,2016-03-23 14:50:02,2016-03-23 15:10:12,2,-73.9779,...,1,1,-74.006,40.7345,1,0,14.30,3.104915,1210.0,NaN
1517855,AIX0001862856,3,1,0.00,0.5,0.5,2016-03-31 08:05:25,2016-03-31 08:09:47,1,-73.9673,...,1,1,-73.9756,40.7638,0,0,6.30,0.805589,262.0,NaN
1517856,AIX0001862857,3,1,0.00,3.36,0.5,2016-03-28 09:18:33,2016-03-28 09:42:43,1,-73.9554,...,1,1,-73.993,40.7143,0,0,20.16,3.203756,1450.0,NaN
1517857,AIX0001862858,1,1,0.00,3.05,0.5,2016-03-30 18:53:17,2016-03-30 19:09:30,1,-74.0109,...,1,1,-73.9938,40.7343,0,1,18.35,3.886334,973.0,NaN
1517858,AIX0001862859,3,1,0.00,2,0.5,2016-03-18 09:42:40,2016-03-18 10:01:03,6,-73.9915,...,1,1,-74.0152,40.7113,0,0,19.30,6.313569,1103.0,NaN
1517860,AIX0001862861,1,1,0.00,2,0.5,2016-03-07 03:09:45,2016-03-07 03:31:01,4,-73.9975,...,1,1,-73.9534,40.7718,0,0.5,21.30,6.753730,1276.0,NaN
1517861,AIX0001862862,1,1,0.00,0,0.5,2016-03-10 18:04:02,2016-03-10 18:33:00,1,-74.0166,...,1,1,-73.9985,40.7452,1,1,20.80,4.440864,1738.0,NaN
1517862,AIX0001862863,3,1,0.00,0,0.5,2016-03-30 19:07:35,2016-03-30 19:19:37,1,-73.9493,...,1,1,-73.9722,40.7525,1,1,11.80,3.570959,722.0,NaN
1517863,AIX0001862864,3,1,0.00,1.7,0.5,2016-03-05 22:10:10,2016-03-05 22:20:20,1,-73.9904,...,1,1,-73.9605,40.711,0,0.5,13.00,2.865302,610.0,NaN
1517864,AIX0001862865,3,1,0.00,0,0.5,2016-03-21 16:59:24,2016-03-21 17:12:48,1,-73.986,...,1,1,-74.0048,40.647,1,0,12.30,3.372031,804.0,NaN
1517865,AIX0001862866,1,1,0.00,0,0.5,2016-03-27 23:42:49,2016-03-27 23:55:49,1,-74.0086,...,1,1,-73.9755,40.7412,1,0.5,17.80,4.958421,780.0,NaN
1517867,AIX0001862868,3,1,0.00,2.96,0.5,2016-03-26 20:09:54,2016-03-26 20:27:31,2,-73.9701,...,1,1,-73.9951,40.7365,0,0.5,17.76,3.384730,1057.0,NaN
1517868,AIX0001862869,3,1,0.00,0,0.0,2016-03-12 18:03:26,2016-03-12 18:03:28,1,0,...,5,1,0,0,0,0,93.30,0.000000,2.0,NaN
1517869,AIX0001862870,3,1,0.00,1.96,0.5,2016-03-10 21:46:00,2016-03-10 21:55:13,1,-73.9832,...,1,1,-73.9661,40.7621,0,0.5,11.76,2.972284,553.0,NaN
1517870,AIX0001862871,3,1,0.00,2.66,0.5,2016-03-24 00:52:51,2016-03-24 01:04:49,1,-73.9822,...,1,1,-73.9674,40.7994,0,0.5,15.96,4.377321,718.0,NaN
1517871,AIX0001862872,1,1,0.00,0,0.5,2016-03-23 14:38:44,2016-03-23 14:56:55,1,-73.9818,...,1,1,-73.9528,40.7699,1,0,14.30,2.656423,1091.0,NaN
1517872,AIX0001862873,3,1,0.00,3.39,0.5,2016-03-13 17:08:10,2016-03-13 17:19:08,1,-73.9581,...,1,1,-73.9418,40.7871,0,1,14.69,3.235001,658.0,NaN
1517873,AIX0001862874,1,1,0.00,1,0.5,2016-03-11 06:45:22,2016-03-11 06:51:50,1,-73.9559,...,1,1,-73.9687,40.7573,0,0,8.30,1.305989,388.0,NaN
1517874,AIX0001862875,1,1,0.00,1,0.5,2016-03-12 18:54:03,2016-03-12 19:08:02,1,-74.0091,...,1,1,-73.987,40.7296,0,1,13.80,2.045048,839.0,NaN
1517875,AIX0001862876,1,1,0.00,0,0.5,2016-03-08 22:41:06,2016-03-08 22:51:51,3,-73.9788,...,1,1,-73.954,40.7787,1,0.5,11.30,2.895823,645.0,NaN
1517876,AIX0001862877,3,1,0.00,3.76,0.5,2016-03-15 09:38:36,2016-03-15 10:02:08,1,-73.9931,...,1,1,-74.0112,40.7086,0,0,22.56,5.646042,1412.0,NaN
1517878,AIX0001862879,1,1,0.00,0,0.5,2016-03-30 00:32:41,2016-03-30 00:38:53,1,-73.9945,...,1,1,-73.9843,40.7607,1,0.5,7.80,1.447460,372.0,NaN
1517879,AIX0001862880,3,1,0.00,2.06,0.5,2016-03-21 22:45:40,2016-03-21 22:55:18,1,-73.9631,...,1,1,-73.9502,40.7799,0,0.5,12.36,2.427374,578.0,NaN
1517880,AIX0001862881,1,1,0.00,0,0.5,2016-03-09 07:48:09,2016-03-09 07:59:11,1,-74.0054,...,1,1,-73.9795,40.7521,1,0,10.30,2.221777,662.0,NaN
1517882,AIX0001862883,1,1,0.00,1.66,0.5,2016-03-22 17:00:51,2016-03-22 17:08:06,2,-73.9609,...,1,1,-73.9447,40.7759,0,0,9.96,2.150496,435.0,NaN
1517883,AIX0001862884,1,1,0.00,0,0.5,2016-03-06 20:28:25,2016-03-06 20:32:45,2,-73.9713,...,1,1,-73.9631,40.7748,1,0.5,6.30,1.193976,260.0,NaN
1517884,AIX0001862885,3,1,0.00,2.76,0.5,2016-03-09 09:01:03,2016-03-09 09:15:43,4,-73.9949,...,1,1,-73.964,40.7772,0,0,16.56,3.973715,880.0,NaN
1517885,AIX0001862886,3,1,0.00,0.2,0.5,2016-03-20 16:18:40,2016-03-20 16:32:49,6,-73.9894,...,1,1,-73.9865,40.7667,0,0,12.00,1.633623,849.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1658065,AIX0002003066,3,1,0.00,1.5,0.5,2016-04-15 10:52:27,2016-04-15 10:58:07,1,-73.9677,...,1,1,-73.9583,40.773,0,0,8.30,1.638477,340.0,NaN
1658066,AIX0002003067,1,1,0.00,0,0.5,2016-04-07 12:29:53,2016-04-07 12:42:55,3,-73.9748,...,1,1,-73.9869,40.7637,1,0,9.80,1.031740,782.0,NaN
1658067,AIX0002003068,3,1,0.00,0,0.5,2016-04-12 15:42:40,2016-04-12 15:46:21,5,-73.9705,...,1,1,-73.9636,40.7658,1,0,5.80,1.221321,221.0,NaN
1658068,AIX0002003069,3,1,5.54,5.75,0.5,2016-04-28 21:09:23,2016-04-28 21:33:45,5,-73.9971,...,1,1,-73.8863,40.7147,0,0.5,36.59,9.658657,1462.0,NaN
1658069,AIX0002003070,1,1,0.00,1.5,0.5,2016-04-30 18:51:15,2016-04-30 18:57:32,1,-73.9746,...,1,1,-73.9603,40.8076,0,1,10.30,1.987787,377.0,NaN
1658070,AIX0002003071,3,1,0.00,1.26,0.5,2016-04-20 08:39:45,2016-04-20 08:45:28,1,-74.0024,...,1,1,-73.9927,40.724,0,0,7.56,0.936157,343.0,NaN
1658071,AIX0002003072,3,1,5.54,9.27,0.5,2016-04-26 13:27:12,2016-04-26 14:20:43,2,-73.8634,...,1,1,-73.9611,40.7605,0,0,55.61,8.293055,3211.0,NaN
1658073,AIX0002003074,1,1,0.00,0.1,0.5,2016-04-19 20:05:54,2016-04-19 20:10:48,1,-73.9952,...,1,1,-73.9826,40.7362,0,0.5,6.40,1.142130,294.0,NaN
1658074,AIX0002003075,3,1,0.00,0,0.5,2016-04-01 00:47:16,2016-04-01 00:53:38,1,-73.9851,...,1,1,-73.9825,40.7568,1,0.5,7.80,0.593616,382.0,NaN
1658075,AIX0002003076,1,1,0.00,6.2,0.5,2016-04-11 09:40:54,2016-04-11 10:03:07,1,-73.9457,...,1,1,-74.0014,40.7519,0,0,27.00,5.646358,1333.0,NaN
1658076,AIX0002003077,1,1,0.00,0,0.5,2016-04-01 12:20:38,2016-04-01 12:25:59,1,-73.9787,...,1,1,-73.9902,40.7452,1,0,6.80,1.606409,321.0,NaN
1658078,AIX0002003079,1,1,0.00,3,0.5,2016-04-19 12:23:57,2016-04-19 12:35:00,1,-73.9826,...,1,1,-73.9678,40.771,0,0,13.80,3.015925,663.0,NaN
1658079,AIX0002003080,3,1,0.00,1.56,0.5,2016-04-12 01:02:58,2016-04-12 01:08:42,1,-73.9851,...,1,1,-73.9732,40.7548,0,0.5,9.36,1.308017,344.0,NaN
1658080,AIX0002003081,3,1,0.00,0,0.5,2016-04-15 21:21:24,2016-04-15 21:33:06,4,-73.95,...,1,1,-73.984,40.7795,1,0.5,11.80,2.893543,702.0,NaN
1658081,AIX0002003082,1,1,0.00,0,0.5,2016-04-29 23:07:18,2016-04-29 23:16:08,2,-73.9867,...,1,1,-73.9737,40.7479,0,0.5,11.15,1.918594,530.0,NaN
1658082,AIX0002003083,1,1,0.00,0,0.5,2016-04-30 08:35:40,2016-04-30 09:08:13,1,-73.9925,...,1,1,-73.978,40.7641,0,0,21.30,3.233253,1953.0,NaN
1658083,AIX0002003084,1,1,0.00,1.45,0.5,2016-04-25 17:25:41,2016-04-25 17:33:21,4,-73.9819,...,1,1,-73.9763,40.7482,0,0,8.75,1.023924,460.0,NaN
1658084,AIX0002003085,3,1,0.00,3.2,0.5,2016-04-30 17:17:20,2016-04-30 17:34:23,1,-73.9696,...,1,1,-73.9804,40.7543,0,1,16.00,1.872116,1023.0,NaN
1658085,AIX0002003086,3,1,0.00,0,0.5,2016-04-26 08:44:48,2016-04-26 08:46:05,2,-73.9738,...,1,1,-73.9819,40.7431,1,0,4.80,0.838288,77.0,NaN
1658086,AIX0002003087,3,1,0.00,0,0.5,2016-04-12 22:52:10,2016-04-12 22:57:51,1,-73.9564,...,1,1,-73.9683,40.7624,1,0.5,8.80,2.656223,341.0,NaN
1658088,AIX0002003089,3,1,0.00,1.96,0.5,2016-04-30 10:35:12,2016-04-30 10:46:52,1,-73.9911,...,1,1,-73.9774,40.7593,0,0,11.76,1.677458,700.0,NaN
1658089,AIX0002003090,3,1,0.00,0,0.5,2016-04-07 13:27:13,2016-04-07 13:34:43,2,-74.0077,...,1,1,-73.9973,40.7273,1,0,7.80,1.597902,450.0,NaN
1658090,AIX0002003091,1,1,0.00,4.05,0.5,2016-04-05 21:01:02,2016-04-05 21:22:10,3,-73.9879,...,1,1,-73.9501,40.7856,0,0.5,24.35,7.962660,1268.0,NaN
1658091,AIX0002003092,1,1,0.00,0,0.5,2016-04-26 06:04:31,2016-04-26 06:09:09,1,-73.9516,...,1,1,-73.9397,40.7069,1,0,6.80,1.264527,278.0,NaN
1658092,AIX0002003093,1,1,0.00,3.05,0.5,2016-04-16 20:38:21,2016-04-16 20:51:37,1,-74.0116,...,1,1,-74.0031,40.7281,0,0.5,15.35,2.919984,796.0,NaN
1658093,AIX0002003094,1,1,0.00,0,0.5,2016-04-17 17:06:59,2016-04-17 17:22:45,2,-73.9878,...,1,1,-73.9689,40.7584,1,1,12.80,2.318513,946.0,NaN
1658094,AIX0002003095,1,1,0.00,2.45,0.5,2016-04-19 06:05:56,2016-04-19 06:17:03,1,-73.9793,...,1,1,-73.9643,40.7566,0,0,14.75,4.050099,667.0,NaN
1658095,AIX0002003096,3,1,0.00,0,0.5,2016-04-17 13:11:59,2016-04-17 13:35:03,1,-73.9978,...,1,1,-73.9781,40.7604,0,0,15.30,1.956937,1384.0,NaN
1658096,AIX0002003097,3,1,0.00,4.16,0.5,2016-04-03 20:19:54,2016-04-03 20:33:54,1,-73.9289,...,1,1,-73.9624,40.7546,0,0.5,24.96,6.642078,840.0,NaN
1658097,AIX0002003098,3,1,0.00,2.46,0.5,2016-04-05 15:54:59,2016-04-05 16:10:46,1,-74.0056,...,1,1,-73.9772,40.7264,0,0,14.76,2.655414,947.0,NaN

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test , y_train, y_test = train_test_split(X, y ,test_size =0.25 ,random_state =21)

In [12]:
from sklearn import linear_model

regr = linear_model.LinearRegression()
regr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [25]:
regr.score(X_test, y_test)

0.87974778634590789

In [28]:
reg = linear_model.Ridge (alpha = .5)
reg.fit(X_train,y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [29]:
reg.score(X_test,y_test)

#79715184769468506

0.87975405232408765

In [30]:
bayreg =linear_model.BayesianRidge()
bayreg.fit(X_train,y_train)

BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
       fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
       normalize=False, tol=0.001, verbose=False)

In [31]:
bayreg.score(X_test,y_test)

0.87974810046045215

In [13]:
from sklearn.svm import SVR

svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1)

In [ ]:
svr_rbf.fit(X_train,y_train)

In [ ]:
svr_rbf.score(X_test,y_test)